/*=========================================================
	02 -> HEADER
===========================================================*/

/*----------------------------*\
	Top header
\*----------------------------*/

#top-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #132539;
    height: 45px;
}

.header-links li {
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
}

.header-links li:last-child {
    margin-right: 0px;
}

.header-links li a {
    color: #FFF;
}

.header-links li a:hover {
    color: #fc5332;
}

.header-links li i {
    color: #fc5332;
    margin-right: 5px;
}

/*----------------------------*\
      Logo
  \*----------------------------*/

#header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #132539;
}

.header-logo {
    float: left;
}

.header-logo .logo img {
    display: block;
}

/*----------------------------*\
      Search
  \*----------------------------*/

.header-search {
    padding: 15px 0px;
}

.header-search form {
    position: relative;
}

.header-search form .input {
    margin-right: -4px;
    border-radius: 40px 0px 0px 40px;
}

.header-search form .search-btn {
    height: 40px;
    padding: 0px 20px;
    width: 150px;
    background: #fc5332;
    color: #FFF;
    font-weight: 700;
    border: none;
    border-radius: 0px 40px 40px 0px;
}

/*----------------------------*\
      Cart
  \*----------------------------*/

.header-ctn {
    float: right;
    padding: 15px 0px;
}

.header-ctn>div {
    display: inline-block;
}

.header-ctn>div+div {
    margin-left: 15px;
}

.header-ctn>div>a {
    display: block;
    position: relative;
    width: 90px;
    text-align: center;
    color: #FFF;
}

.header-ctn>div>a>i {
    display: block;
    font-size: 30px;
}

.header-ctn>div>a>span {
    font-size: 12px;
}

.header-ctn>div>a>.qty {
    position: absolute;
    right: 15px;
    top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    color: #FFF;
    background-color: #fc5332;
}

.header-ctn .menu-toggle {
    display: none;
}

#navigation {
    background: #fc5332;
    /* border-bottom: 2px solid #E4E7ED;
    border-top: 3px solid #fc5332; */
    padding: 10px 20px;
}

.main-nav>li+li {
    margin-left: 30px
}

.main-nav>li>a {
    padding: 20px 0px;
}

.main-nav>li>a:hover, .main-nav>li>a:focus, .main-nav>li.active>a {
    color: white;
    background-color: transparent;
    /* border-bottom: 2px solid white; */
}

.main-nav>li>a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    border-bottom: 2px solid white;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.main-nav>li>a:hover:after, .main-nav>li>a:focus:after, .main-nav>li.active>a:after {
    width: 100%;

}

#responsive-nav ul .nav-item>a {
    color: white;
}

.product-cart .product-img img {
    width: 60px;
}
.product-cart{
padding-bottom: 20px;
}
.product-cart .product-name {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}

.product-cart .product-body .product-price {
    font-size: 14px;
    color: #fc5332;
}

.product-cart .product-price .qty {
    font-weight: 400;
    margin-right: 10px;
}