.item{
    /*width: 15%;*/
    /*border: solid 2px #cecccc;*/
    padding: 20px 10px;

}
.item:hover .border{
    /* padding: 20px 10px; */
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 30%);
    transition: 0.2s all;
}

.item img{
    width:90%;
}

.item h6{
    padding-left:5% ;
}


.items div{
    display: flex;
    justify-content: center;
    text-align: center;
}

